.box{
    width: 500px;
    height: 500px;
    border: 5px solid black;
    margin: 5px;

}
.app{
    margin: 40px;
    display: flex;
    justify-content: center;
}

.item-img{
    width: 400px;
    height: 400px;
}

.win{
    border: 5px solid blue;
}

.lose{
    border: 5px solid yellow;
}

.tie{
    border: 5px solid black;
}

button{
    margin-left: 5px;
}