.box{
    width: 500px;
    height: 500px;
    border: 5px solid black;
    margin: 5px;

}

@media all and (max-width: 1000px){
    .box {
        width: 250px;
        height: 250px;
    }

    .item-img {
        max-width: 200px;
        max-height: 200px;
    }

    h1 {
        font-size: 20px;
    }
}

.app{
    margin: 40px;
    display: flex;
    justify-content: center;
}

.item-img{
    width: 400px;
    height: 400px;
}

.win{
    border: 5px solid blue;
}

.lose{
    border: 5px solid yellow;
}

.tie{
    border: 5px solid black;
}

button{
    margin-left: 5px;
}